@import "tailwindcss";

/* styles/globals.css */
html, body {
  overflow: hidden;
  height: 100%;
}

:root {
  --primary-background: #F5F3FF;
  --secondary-background: #FFFFFF;

  --parent-blue: #D4EEFF;
  --parent-yellow: #FBFDEF;
  --parent-pink: #FFD4EB;
  --parent-green: #E2F5DF;
  --parent-orange: #FAEEDE;
  --parent-black: #232323;
  --parent-primary-background: var(--primary-background);
  --parent-secondary-background: var(--secondary-background);

  --child-blue: #3BADF7;
  --child-yellow: #FFFB1A;
  --child-pink: #F164A9;
  --child-green: #7AEB68;
  --child-orange: #FC9A1A;
  --child-black: #232323;
  --child-primary-background: var(--primary-background);
  --child-secondary-background: var(--secondary-background);

  --background: var(--primary-background);
  
  font-family: var(--font-sour-gummy), sans-serif;
}

@theme inline {
  --color-background: var(--background);
}

/* removed dark mode layout */
/* prefers-color-scheme: dark */
/* @media () {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sour-gummy), 'Arial', 'Helvetica', 'sans-serif';
}

@keyframes rollLeft {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(-150vw) rotate(-720deg);
  }
}

@keyframes rollRightBack {
  0% {
    transform: translateX(150vw) rotate(720deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.animate-roll-left {
  animation: rollLeft 1s ease-in-out forwards;
}

.animate-roll-right-back {
  animation: rollRightBack 1s ease-in-out forwards;
}

@keyframes rollIn {
  0% {
    transform: translateX(-100px) rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.animate-roll-in {
  animation: rollIn 0.8s ease-out forwards;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(350%);
  }
}

.animate-cloud-left-to-right {
  animation: leftToRight 15s linear infinite;
}

.animate-cloud-left-to-right-slow {
  animation: leftToRight 22s linear infinite;
}
